<meta charset="UTF-8">
<title>{{ site.name }}</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

<meta name="author" content="{{ site.author }}">
<meta name="description" content="{{ site.github.project_tagline }}">

<meta property="og:description" content="{{ site.github.project_tagline }}">
<meta property="og:image:alt" content="The ACA workshop">
<meta property="og:image:height" content="630">
<meta property="og:image:type" content="image/jpeg">
<meta property="og:image:width" content="1200">
<meta property="og:image"
  content="https://raw.githubusercontent.com/lgmorand/workshop-aca/main/media/facebook-banner.jpg">
<meta property="og:locale" content="en_US">
<meta property="og:site_name" content="The ACA workshop">
<meta property="og:title" content="The ACA workshop">
<meta property="og:type" content="website">
<meta property="og:url" content="https://aka.ms/workshop-aca">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:creator" content="@lgmorand">
<meta name="twitter:image"
  content="https://raw.githubusercontent.com/lgmorand/workshop-aca/main/media/facebook-banner.jpg">
<meta name="twitter:site" content="@lgmorand">

<!-- Async CSS load, see: https://stackoverflow.com/a/46750893 -->
<link href="css/main.css?version={{ site.github.build_revision }}" rel="preload" as="style" onload="this.rel='stylesheet'">
<noscript>
  <link rel="stylesheet" href="css/main.css?version={{ site.github.build_revision }}">
</noscript>

<!-- Defers script execution until the associated Document is parsed -->
<script defer src="https://buttons.github.io/buttons.js"></script>
<script defer src="js/jquery-3.6.3.min.js"></script>
<script defer src="js/scripts.js"></script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-32EH4WJ4C3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());
  gtag('config', 'G-32EH4WJ4C3');
</script>
