<ul id="nav">
    {% assign level-1 = site.entries | where: "sectionclass", "h1" %}
    {% for entry in level-1 %}
    <li {% if entry.is-parent or forloop.first %}
        class="{% if entry.is-parent %}parent{% endif %}{% if forloop.first %} active{% endif %}" {% endif %}>
        <a href="#{{ entry.sectionid }}">{{ entry.title }}</a>
        {% if entry.is-parent %}
        <ul>
            {% assign level-2 = site.entries | where: "parent-id", entry.sectionid %}
            {% for child in level-2 %}
            <li {% if child.is-parent %}class="parent" {% endif %}>
                <a href="#{{ child.sectionid }}">{{ child.title }}</a>
                {% if child.is-parent %}
                <ul>
                    {% assign level-3 = site.entries | where: "parent-id", child.sectionid %}
                    {% for grandchild in level-3 %}
                    <li>
                        <a href="#{{ grandchild.sectionid }}">{{ grandchild.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </li>
    {% endfor %}
</ul>
<div id="github-actions">
    <a class="github-button" href="https://github.com/lgmorand/aks-workshop" data-show-count="true"
        data-icon="octicon-star" aria-label="Star lgmorand/aksworkshop on GitHub">Star</a>
    <a class="github-button" href="https://github.com/lgmorand/aks-workshop/fork" data-show-count="true"
        data-icon="octicon-repo-forked" aria-label="Fork lgmorand/aksworkshop on GitHub">Fork</a>
    <a class="github-button" href="https://github.com/lgmorand/aks-workshop/issues" data-show-count="true"
        data-icon="octicon-issue-opened" aria-label="Issue lgmorand/aksworkshop on GitHub">Issue</a>
</div>
