// Modules
@import "../modules/all";

// General Stuff
$sidebar-collapse: 1024px;
$content-margins: 2rem;

// Extendonly
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

%paddinghack {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

%visuallyhidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}

%center {
  display: block;
  position: relative;
  margin: 0 auto;
}
