$nav-width: 350px;

.toggle {
  position: absolute;
  z-index: 100;

  @media screen and (min-width: ($sidebar-collapse + 1)) {
    display: none;
  }
}

.overview {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow-y: auto;
  background: $white;
  width: $nav-width;

  @media screen and (max-width: $sidebar-collapse) {
    left: -$nav-width;
    transition: .3s all ease;
    transform: translate(0, 0);
    z-index: 1000;

    &.open {
      transform: translate($nav-width, 0);
    }
  }

  >.toggle {
    top: .5rem;
    right: .5rem;
  }

  ul {
    list-style: none;
    counter-reset: nested-counter;
    padding: 0;

    li {
      counter-increment: nested-counter;
    }
  }

  #nav {
    width: 100%;
    box-sizing: border-box;
    margin: 2rem 0;

    ul li {
      font-size: .875rem;
    }

    a {
      display: block;
      color: inherit;
      padding-top: .25rem;
      padding-bottom: .25rem;

      // Accessibility: Gives for users with pointing device a larger tap area
      // See: https://developer.mozilla.org/en-US/docs/Web/CSS/@media/any-pointer
      @media (any-pointer: coarse) {
        padding-top: .5rem;
        padding-bottom: .5rem;
      }

      &:before {
        content: counters(nested-counter, ".") ". ";
      }
    }

    .active {
      >a {
        font-weight: $bold;
        background-color: $lightgray;
      }
    }

    >li {
      a {
        padding-left: 1rem;
        padding-right: 1rem;
      }

      li {
        a {
          padding-left: 2rem;
          padding-right: 2rem;
        }
      }
    }
  }
}
