// Same as learn.microsoft.com
$font-sans-serif: Segoe UI, SegoeUI, Helvetica Neue, Helvetica, Arial, sans-serif;
$fonts-mono: SF Mono, SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;

// Font weights
$bold: 600;
$light: 400;
